<div>
	<div class="columns">
		<div class="column is-3 aside">
			<h5 class="title is-5">Add Category</h5>
			<input class="input is-info" type="text" ng-model="categoryName" placeholder="Name">
			<button class="button is-info" ng-click="saveCategory()">Save</button>
		</div>
		<div class="column is-9">
			<table class="table" data-ng-init="init()">
				<thead>
					<tr>
						<th><abbr title="Position">Id</abbr></th>
						<th>Category Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in categories">
						<th>{{category.id}}</th>
						<td>{{category.name}}</td>
						<td><button id="delete" class="button is-danger">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>