<!DOCTYPE html>
<html lang="en"ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./node_modules/bulma//css/bulma.css">
    <title>Login</title>
</head>
<body ng-app ng-controller="loginController" data-ng-init="controlToken()">
    
        <section class="hero is-fullheight back">
            <div class="hero-body">
                <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-4">
                    <div class="box">
                        <div class="notification is-danger" ng-show="ui.alert">
                            <button class="delete"></button>
                            <strong ng-bind="message"> </strong>
                        </div>
                        <label class="label">Email</label>
                        <p class="control">
                        <i class="fas fa-envelope"></i>
                        <input ng-model="user.email" class="input" type="email" placeholder="info@yusufcakal.com">
                        </p>
                        <label class="label">Parola</label>
                        <p class="control">
                        <input ng-model="user.password" class="input" type="password" placeholder="●●●●●●●">
                        </p>
                        <hr>
                        <p class="control">
                        <button class="button is-primary" ng-click="userLogin()">Giriş Yap</button>
                        <button ng-click="directRegister()" class="button is-info">Kayıt Ol</button>
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>


    <script src="./node_modules/angular/angular.js"></script>
    <script src="./assets/js/script.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>

</body>
</html>