.back{
    background-color: #e1e1e1;
}
.navbar{
    background-color:#3273DC!important;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.navbar-end a{
    color: #fff!important;
}

.navbar-end a:hover{
    color: #000!important;
}

.navbar{
    height:8vh;
}

.dashboard{
    height:93vh;
    background-color: #fff;
}

.aside {
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
  height:93vh;
}

.aside > *{
  text-align: center;
  margin-top: 10px;
}

.aside button{
    float: right;
}

.aside input{
    text-align: center;
}

.aside a{
  float: right;
}

#price{
    width: 100px;
    float: left;
}

.card{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    width: 300px;
    height: auto;
}