.back{
    background-color: #e1e1e1;
}
.navbar{
    background-color:#3273DC!important;
}

.navbar-end a{
    color: #fff!important;
}

.navbar-end a:hover{
    color: #000!important;
}

.navbar{
    height:8vh;
}

.dashboard{
    height:92vh;
    background-color: #e1e1e1;
}